{
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "jest": true
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true
      }
    ]
  }
}